{% extends 'base.html.twig' %}

{% block title %}Guizmo - À propos {% endblock %}

{% block body %}
<!-- Section Article List -->
	<div class="article-list">
		<h2>À propos de Guizmo</h2>
		<p>Guizmo est une entreprise de développement de logiciels spécialisée dans la création d'applications web modernes et performantes. Notre équipe d'experts combine créativité et expertise technique pour offrir des solutions sur mesure.</p>
	</div>
{% endblock %}
