{#
    Composant Molecule : Champ de formulaire
    
    Paramètres disponibles :
    - label (string, obligatoire) : Texte du label
    - name (string, obligatoire) : Nom de l'input
    - type (string, optionnel) : Type d'input - défaut: text
    - placeholder (string, optionnel) : Texte d'aide
    - required (boolean, optionnel) : Champ obligatoire - défaut: false
    - value (string, optionnel) : Valeur par défaut
    - class (string, optionnel) : Classes CSS supplémentaires
#}

<div class="form-field {{ class|default('') }}">
    {% include 'atoms/labels/label.html.twig' with {
        'text': label,
        'for': name,
        'required': required|default(false)
    } %}
    
    {% include 'atoms/inputs/input.html.twig' with {
        'name': name,
        'type': type|default('text'),
        'placeholder': placeholder|default(false),
        'required': required|default(false),
        'value': value|default(false)
    } %}


    
</div>
